body{
	height: 100vh !important;
	width: 100% !important;
	background-color: white;
}
#body{
	background-color: black;
}
.container{
	height: 100vh !important;
	width: 100% !important;

}
#background{
	width: 100%;
	height: 91vh;
  	z-index: 0;
  	margin-left: -100px;
  	opacity: 1;
  	position: absolute;
  	-webkit-filter: blur(2.5px);
}
#con-background{
	width: 100%;
	height: 100vh;
  	z-index: 0;
  	margin-left: 0px;
  	opacity: 1;
  	position: absolute;
  	-webkit-filter: blur(2.5px);
}
#contact{
	margin-bottom: -100px !important;
}
.pat{
	font-weight: bolder;
}

li,a{
	margin-right: 20px;
	color: white;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
a {
  color:inherit !important;
  text-decoration: none !important;
 }
ul{
	margin-right: 25px;
}
.modal-content {
   background-color: black !important;
}
.modal{
	border:solid white 2px;
}
.modal-title{
	font-size: 30px;
	color: white;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-weight: bolder;
	font-family: 'Raleway', sans-serif;
}
.modal-body{
	color: white;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-family: 'Raleway', sans-serif;
}
.button{
	border:1px solid white;
	background-color: transparent;
	color: white;
	margin-top:10px;
	margin-right: 2px;
	font-size: 15px;
	padding: 10px;
	width: 120px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-family: 'Raleway', sans-serif;
	margin-right: 160px !important;
}

.name{
	margin-bottom: -0px;
	margin-left: 40px;
	color:white;
	font-size: 20px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}
#carrot{
	margin-bottom: -200px;
}
#small-carrot{
	display: none;
}
#carrot,.head{
	display:none;
}
h1{
	font-size: 60px;
	margin-top: 30px;
	font-weight: thin;
}
h2{
	color: white;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-size: 50px;
	margin-top: 50px !important;
	margin-bottom: -50px !important;
	font-family: 'Homemade Apple', cursive;
	height: 100px;
}
h3{
	font-family: 'Monoton', cursive;
	font-size: 45px;
}
/*.digital{
	height: 200px;
}*/
#title{
	font-size: 30px;
	margin-bottom: 10px;
}


nav{
	height: 50px;
	background-color: black;
	/*background-color: rgba(255, 0, 0, 0.4);*/
	/*background-color: rgba(0, 0, 0, 0.9);*/
	width: 100vw !important;
	opacity: 1;

	margin-left: -85px;
	/*margin-bottom: -50px;*/
	position: relative;
}
#overlay{
	color: white;
	position: relative;
	z-index: 1;
	border-top: dotted;
	border-bottom: dotted;
	margin-top: 170px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	height: 220px;
	font-family: 'Raleway', sans-serif;




}
.about-over{
	color: white;
	position: relative;
	z-index: 1;
	align-items: center;
	margin-top: 130px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	height: 220px;
	font-family: 'Raleway', sans-serif;

}
.over-div{
		margin-left: 120px;
		color: white;
	position: relative;
	z-index: 1;
	align-items: center;
	margin-top: 130px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	height: 220px;
	font-family: 'Raleway', sans-serif;
}
button{
	border:1px solid white;
	background-color: transparent;
	color: white;
	margin-top:10px;
	margin-right: 2px;
	font-size: 20px;
	padding: 10px;
	width: 90px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	font-family: 'Raleway', sans-serif;
}

#logo{
	height: 150px;
	width: 150px;
	margin-bottom: -220px;
	margin-top: -40px;
}

.about-logo{
	height: 250px;
	width: 250px;
	margin-bottom: 25px;
}
.port-logo-1{
	height: 250px;
	width: 250px;
	margin-top: 30px;
	float: left;
	margin-left: 60px !important;
	margin-bottom: 30px;
}
/*.port-logo-2{
	width: 300px;
	height:400px;
	margin-top: 20px;
	margin-left: -40px;
}*/
.port-logo-3{
	width: 400px;
	height:300px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.about-img{
	height: 250px;
	width: 250px;
	margin-top: 50px;
}
#about-tit{
	margin-top: 30px;
	margin-bottom: -40px;
	margin-left: 120px;
	/*border-right: dotted black 1px;
	border-left: dotted black 1px;*/
}
#about-tit p{
	font-size: 13px;
}
#down{
	margin-top: 150px;
	margin-left: -10px;
}
.author{
	color: grey;
	font-size: 15px;
	font-family: 'Homemade Apple', cursive;

}

.icon{
	height: 50px;
	width: 50px;
	margin:0px;
	margin-top: 10px;
}
h4{
	margin-top: 100px;
}
h5{
	margin-top: 50px;
}








.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

#words{
	font-size: 20px;
/*	margin-top: -80px;
*/	margin-bottom: 30px !important;
	margin-right: 20px; 
	letter-spacing: 10px;
	margin-left: -220px;
	margin-top: -40px;
}
#who-div{
	margin-top: 200px;
}








.words{
    display: inline;
    text-indent: 10px;
}
.words-1 span{

    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: white;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -moz-animation: rotateWord 18s linear infinite 0s;
    -o-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -moz-animation-delay: 3s; 
    -o-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: white;
}
.words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -moz-animation-delay: 6s; 
    -o-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: white;    
}
.words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s; 
    -o-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: white;
}
.words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -moz-animation-delay: 12s; 
    -o-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: white;
}
.words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s; 
    -o-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: white;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
    5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
    20% { opacity: 0; -moz-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
    5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
    20% { opacity: 0; -o-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
    20% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
.little{
	margin-left: -60px;
}
#lil{
	margin-right: -2px !important;
}
.alot{
	margin-left: -120px;
}
#touch{
	margin-left: -5px;
}

.third{
	display: none;
}







 .slideshow {
  margin: 80px auto;
  position: relative;
  width: 280px;
  height: 280px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-left: 120px;
}


.slideshow > div {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.slide{
 width: 280px;
  height: 280px;
}
section{
	height: 100%;
	width: 100%;
	margin-left: -100px;
	margin-bottom: 100px;
}
#main{
	height: 100%;
	width: 120%;
	margin-left: -100px;

}
.caption{
	margin-top: -70px;
	width: 280px;
	align-content: left;
	margin-left: 120px;

}
#why{
	margin-bottom: 40px !important;
	margin-top: -80px;
}
#who{
	margin-top: 50px;
}
.w{
	font-family: 'Monoton', cursive;
	font-size: 300px;
	margin-bottom: -80px;
}
.rotate1{
	transform:          rotate(30deg);
-ms-transform:      rotate(30deg);
-moz-transform:     rotate(30deg);
-webkit-transform:  rotate(30deg);
-o-transform:       rotate(30deg);


}
.rotate2{
transform:          rotate(-10deg);
-ms-transform:      rotate(-10deg);
-moz-transform:     rotate(-10deg);
-webkit-transform:  rotate(-10deg);
-o-transform:       rotate(-10deg);


}
/*.polaroid{
	height: 400px;
	width: 400px;
	background-color: white;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 70px;
	margin:20px;
	margin-bottom: 150px;
	transform:          rotate(30deg);
-ms-transform:      rotate(30deg);
-moz-transform:     rotate(30deg);
-webkit-transform:  rotate(30deg);
-o-transform:       rotate(30deg);
}
.polaroid1{
	height: 300px;
	width: 300px;
	background-color: white;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 70px;
	margin:20px;
	transform:          rotate(10deg);
-ms-transform:      rotate(10deg);
-moz-transform:     rotate(10deg);
-webkit-transform:  rotate(10deg);
-o-transform:       rotate(10deg);
}*/
.polaroid-con{
	margin-top: 100px;
	width: 100% !important;
}


.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
}
.p-img{
	height: 250px;
	width: 150px;
}
.p-img1{
	height: 300px;
	width:300px;
}
.polaroid-images{
	margin:150px 150px 150px 150px;
}
.move{
	margin-right: 150px !important;	
	margin-left: -50px;
}

h6{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.caption p{
	font-weight: thin;
	font-size:15px;
	font-family: 'Raleway', sans-serif;
}
.small{
	display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

body,.container{
	margin-left:0;
	padding: 0;
}
.navbar{
	margin-left: 0px;
	height: 80px;
}
#background{
	margin-top: 0px;
	width: 100%;
	margin-left: 0px;

}
#overlay{
	height:250px;
}
h1{
	font-size: 40px;
}
#title{
	font-size: 20px;
}
.alot{
	display:none;
}
li,a{
	align-items: center;
	margin-right: 5px;
	/*margin-left: 5px;*/
	color: white;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.left{
	margin-left: 45px;
}
.name{
	margin-left: 35px;
	margin-bottom: 10px;
	font-size:25px;
}
.row{
	margin-right: 0px;
}







.w{
	font-size: 100px;
	margin-top: -30px;
}
.about-over{
	margin-top: 20px;
}
.small-cap{
	margin-top: 45px;
}
#down{
	display: none;
}
section{
	margin-left:-50px; 
}
#who{
	margin-top: 350px;
}
.slideshow,.slide{
height: 300px;
width: 100vw;
margin-right: 5px;
}

.slideshow{
	margin-left: 50px;
}
.caption{
	margin-left: 60px;
}
#about-tit p{
	margin-left: 55px;
	margin-right: 55px;
	font-size: 10px;
}
#why{
	margin-top: 1200px;
}
#what{
	margin-top: 1200px;
}
#con-background{
	margin-top: 1100px;
	margin-left: 0px;
	width: 120%;
}
.over-div{
	margin-top: 1100px;
	margin-left: 65px;
	margin-right: -60px;
}
.port-logo-3{
	display: none;
}
.port-logo-1{
	margin-left:20px !important;
	/*margin-top: 20px;*/
}
.p-img1{
	height:200px;

	/*width: 150px;*/
}
/*.pic{
	margin: 300px;
}*/

.polaroid-images a{
	    margin: 0 -130px 30px;
}
.move{
	margin: 0!important;
}
.polaroid-con{
	display:none;
}
.small{
	display: block;
}
.head{
	font-size: 35px;
	margin-left: 10px;
	margin-top: 30px !important;
	
}
.port-logo-1{
	margin-left: 70px !important;
}
#carrot{
	margin-right: -30px;
	margin-top: 90px;
	
}
.third{
	display: block;
}

#pic1{
	margin-left: -50px;
}
#pic2{
	margin-left: -50px;
}
#pic4{
	margin-left: -60px;
}
#pic3{
	margin-left: -40px !important;
}
#pic5{
	margin-left: -60px;
}
#pic6{
	margin-left: -50px;
}
#pic7{
	margin-left:-20px !important;
}
#pic8{
	margin-left: -60px;
}
#small{
	margin-left: -30px
}


}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
.left{
	margin-left: 75px;
}
.name{
	margin-left: 55px;
	font-size: 27px;
	margin-bottom: -5px;
}
#who{
	margin-top: 400px;
}
.port-logo-1{
	margin-left: 85px !important;
}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {

h1{
	font-size: 40px;
}
#words{
	margin-bottom: 20px !important;
}
#na{
	font-size: 17px;
}
#title{
	font-size: 25px;
}
nav{
	margin-left:-50px;
}
#background{
	margin-left: -50px;
	height: 100vh;
}
.w{
	font-size: 150px;
}
.small-cap{
	margin-top: 50px;
}
#down{
	margin-left: -40px;
}
#who{
	margin-top: 500px;
}
.slideshow{
	/*margin-left: 0px;*/
	height: 200px;
	width: 200px;
	margin-left: 120px;
}
.slide{
	/*margin-right: 10px;*/
	height: 200px;
	width: 200px;
	margin-right: 80px;
	/*margin-left: 80px;*/
}
.caption p{
	margin-right: 70px;
}
#why{
	margin-top: -400px;
}
#what{
	margin-top: -300px;
}
#con-background{
	margin-left: 80px;
	height: 100vh;
}
.icon{
	margin-right: 50px;
	margin-left: -20px;

}
.ig{
	margin-right: -290px;
}
.mail{
	margin-left: -110px;
}

}
